// css transform effect hover

//translate
@mixin transform-translate($value1,$value2) {
	-moz-transform: translate(-$value1,-$value2);
	-webkit-transform: translate(-$value1,-$value2);
	transform: translate(-$value1,-$value2);
}

// translate Y
@mixin transform-translateY($value) {
	-moz-transform: translateY($value);
	-webkit-transform: translateY($value);
	transform: translateY($value);
}

// translate X
@mixin transform-translateX($value) {
	-moz-transform: translateX($value);
	-webkit-transform: translateX($value);
	transform: translateX($value);
}

//scale
@mixin transform-scale($value1,$value2) {
	-moz-transform: scale($value1,$value2);
	-webkit-transform: scale($value1,$value2);
	transform: scale($value1,$value2);
}

//scale
@mixin transform-rotate($value) {
	-moz-transform: rotate(#{$value}deg);
	-webkit-transform: rotate(#{$value}deg);
	transform: rotate(#{$value}deg);
}

